<html>
    <head>
        <title>Project blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Project blog</a></h1>
        </div>

        <div>
            <p>published: 27.06.2021, 20:15</p>
            <h2><a href=""Первый пост</a></h2>
            <p><strong>Here we now!</strong></p>
            <p>Вот и первый пост Project.</p>
        </div>

        <div>
            <p>published: 27.06.2021, 20:30</p>
            <h2><a href="">Второй пост</a></h2>
            <p>Давайте же приступим к нашей совместной, большой работе.</p>
        </div>

        <div>
          <p>published: 27.06.2021, 20:32</p>
          <h2><a href ="">Третий пост</a></h2>
          <p> Наша работа в связах.</p>
          <p> Project - это связь.</p>
    </body>
</html>
